.userModules .panel-body{
    padding:0px !important;
}
.grey{
    color:grey;
}
#page-wrapper .row .col-lg-12{
    padding-left:0px !important;
    padding-right:0px !important;
}
.product-imitation{
    padding:0px !important;
}

.product-imitation img{
    width:100%;
}

/** Grid Styling starts here**/


.jqx-grid-column-header{
    background-color: #1ab394 !important;
    color:white !important;
}
.jqx-widget-content{
    font-family:inherit !important;
}

/** Grid Styling ends here**/

.liquid-slider .panel-wrapper{
    padding:0px !important;
}
.liquid-slider-parent{
    padding:10px 0px 20px 0px !important;

}
.star{
    color: #FF0000;
}